<!DOCTYPE HTML>
<html>

<head>
    <title>Catalog App - Add Items</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa"
          rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
    <main>
        <header id="header"
                class="w3-container w3-row w3-blue-gray">
            <div id="authBlock"
                 class="w3-container w3-col s2 m2 l2 w3-right w3-right-align">
                {% if 'username' not in session %}
                <a href="{{url_for('showAuth')}}"
                   class="w3-button w3-dark-gray w3-right relaxed">Login</a>
                {% else %}
                <a href="{{url_for('disconnect')}}"
                   class="w3-button w3-dark-gray w3-right relaxed">Logout</a>
                <div id="loginStatus"
                     class="w3-small w3-right">logged in as {{session['username']}}</div>
                {% endif %}
            </div>
            <div id="headerBlock"
                 class="w3-container w3-col s10 m10 l10 w3-left">
                <div id="headerMenuToggle"
                     class="w3-animate-opacity w3-left w3-hide-large">
                    <button id="menuToggleButton"
                            class="w3-button w3-large relaxed"
                            onclick="toggleMenu()">
                         &#9776;
                     </button>
                </div>
                <h3>
                    <a href="{{url_for('showItems')}}"
                       class="w3-button w3-hover-blue-gray relaxed">Catalog APP</a>
                </h3>
            </div>
            <div id="flashMessages"
                 class="w3-container w3-col s12 m12 l12 w3-left w3-left-align w3-border-top">
                <br>
            </div>
        </header>
        <div id="pageContent"
             class="w3-container w3-row w3-white w3-border-top w3-border-white">
            <nav id="sideMenu"
                 class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-col s3 m3 l2 w3-bar-block w3-light-gray">
                <button class="w3-bar-item w3-button w3-hide-large relaxed"
                        onclick="toggleMenu()">Close &times;
                </button>
                <div class="w3-bar-item w3-border-bottom">Categories</div>
                <a href="{{url_for('showItems')}}"
                   class="w3-bar-item w3-button relaxed">All Categories</a>
                   {% if categories %}
                    {% for entry in categories %}
                <a href="{{url_for('showItemsForCategory', category_id = entry.id)}}"
                   class="w3-bar-item w3-button relaxed">{{entry.name}}</a>
                    {% endfor %}
                   {% endif %}
            </nav>
            <!-- Main -->
            <div id="pageGuts"
                 class="w3-container w3-col s12 m12 l10">
                <section class="w3-card-4">
                    <div class="w3-container w3-blue-gray">
                        <h4>Create Item</h4>
                    </div>
                    <form class="w3-container"
                          name="newItemForm"
                          action="#"
                          method="POST">
                        <p>
                            <label>Name:</label>
                            <input type="text"
                                   required
                                   class="w3-input w3-border"
                                   maxlength="100"
                                   name="name"></p>
                        <p>
                            <label>Category:</label>
                            <input type="text"
                                   required
                                   class="w3-input w3-border"
                                   maxlength="100"
                                   name="category"></p>
                        <p>
                            <label>Description:</label>
                            <textarea required
                                      class="w3-input w3-border"
                                      maxlength="250"
                                      rows="3"
                                      name="description"
                                      placeholder="Description of the item"></textarea></p>
                        <button class="w3-button w3-large w3-right relaxed"
                                onclick="newItemForm.submit()">Add</button>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <script>
        function toggleMenu() {
            var panel = document.getElementById("sideMenu");
            if (panel.style.display == "block") {
                panel.style.display = "none";
                panel.className = panel.className.replace(" w3-animate-left", "")
            } else {
                panel.className += " w3-animate-left"
                panel.style.display = "block";
            }
        }
    </script>
</body>

</html>
